body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: auto;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    color: #333;
}

#myChart {
    max-width: 1000px;
    margin: auto;
}

#details {
    margin-top: 20px;
    font-size: 1.1em;
    color: #555;
}

.total {
    font-size: 2em;
    margin-top: 20px;
    color: #333;
    font-weight: bold;
}
